*, *::before, *::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	background-color: #f6f6f6;
}

h1 {
	padding: 8px;
}

ul {
	margin-top: 0;
	list-style-type: none;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

li {
	padding: 8px 8px 8px 8px;
	/* align-items: center; */
	/* align-self: baseline; */
}

form {
	margin: 0 auto;
	max-width: 300px;
}

input {
	width: 300px;
	height: 40px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

select {
	width: 300px;
	height: 40px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

textarea {
	width: 300px;
	height: 150px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

.logo {
	font-size: 1.8rem;
}

h1, .logo {
	font-family: 'Bodoni Moda', serif;
}

.required {
	color: red;
}

.submit {
	color: white;
	background-color: #000;
}

.wrapper {
	max-width: 320px;
	margin: 0 auto;
}