*, *::before, *::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	background-color: #f6f6f6;
}

h1 {
	font-size: 50px;
	padding: 8px;
	margin-top: 100px;
}

ul {
	margin-top: 0;
	list-style-type: none;
	padding-top: 5px;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

li {
	padding: 12px 8px 8px 8px;
	/* align-items: center; */
	/* align-self: baseline; */
}

form {
	margin: 0 auto;
	max-width: 305px;
}

input {
	width: 304px;
	height: 40px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

select {
	width: 304px;
	height: 40px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

textarea {
	width: 304px;
	height: 150px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

.logo {
	font-size: 1.8rem;
	padding-top: 8px;
}

h1, .logo {
	font-family: 'Bodoni Moda', serif;
}

.required {
	color: red;
}

.header {
	background-size: cover;
	color: white;
}

.double-inputs {
	width: 150px;
}

.submit {
	color: white;
	background-color: #000;
}

.submit:active {
	background-color: #e821bc;
}

.wrapper {
	max-width: 320px;
	margin: 0 auto;
}

@media (min-width: 400px) {
	h1 {
		font-size: 50px;
		padding: 8px;
		margin-top: 160px;
	}

	form {
		margin: 0 auto;
		max-width: 342px;
	}
	
	input {
		width: 340px;
		height: 45px;
		border: solid #f0e9e9 2px;
		border-radius: 4px;
	}
	
	select {
		width: 340px;
		height: 45px;
		border: solid #f0e9e9 2px;
		border-radius: 4px;
	}
	
	textarea {
		width: 340px;
		height: 160px;
		border: solid #f0e9e9 2px;
		border-radius: 4px;
	}

	.double-inputs {
		width: 168px;
	}

	.wrapper {
		max-width: 364px;
		margin: 0 auto;
	}
}