*, *::before, *::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	background-color: #f6f6f6;
}

h1 {
	font-size: 50px;
	padding: 8px;
	margin-top: 100px;
}

ul {
	margin-top: 0;
	list-style-type: none;
	padding-top: 5px;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

li {
	padding: 12px 8px 8px 8px;
}

form {
	margin: 0 auto;
	max-width: 305px;
}

input {
	width: 304px;
	height: 40px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

select {
	width: 304px;
	height: 40px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

textarea {
	width: 304px;
	height: 150px;
	border: solid #f0e9e9 2px;
	border-radius: 4px;
}

.logo {
	font-size: 1.8rem;
	padding-top: 8px;
}

h1, .logo {
	font-family: 'Bodoni Moda', serif;
}

.required {
	color: red;
}

.header {
	background-size: cover;
	color: white;
}

.double-inputs {
	width: 150px;
}

.submit {
	color: white;
	background-color: #000;
}

.submit:active {
	background-color: #e821bc;
}

.wrapper {
	max-width: 320px;
	margin: 0 auto;
}

/* Size for larger phones */
@media (min-width: 400px) {
	h1 {
		font-size: 50px;
		margin-top: 160px;
	}

	form {
		max-width: 342px;
	}
	
	input {
		width: 340px;
		height: 45px;
	}
	
	select {
		width: 340px;
		height: 45px;
	}
	
	textarea {
		width: 340px;
		height: 160px;
	}

	.double-inputs {
		width: 168px;
	}

	.wrapper {
		max-width: 364px;
	}
}

/* Size for smaller tablets */
@media (min-width: 510px) {
	h1 {
		font-size: 50px;
		margin-top: 160px;
	}

	form {
		max-width: 392px;
	}
	
	input {
		width: 390px;
		height: 45px;
	}
	
	select {
		width: 390px;
		height: 45px;
	}
	
	textarea {
		width: 390px;
		height: 180px;
	}

	.double-inputs {
		width: 193px;
	}

	.wrapper {
		max-width: 440px;
	}
}

/* Size for medium tablets */
@media (min-width: 740px) {
	h1 {
		font-size: 50px;
		margin-top: 200px;
	}

	form {
		max-width: 520px;
	}
	
	input {
		width: 518px;
		height: 45px;
	}
	
	select {
		width: 518px;
		height: 45px;
	}
	
	textarea {
		width: 518px;
		height: 200px;
	}

	.double-inputs {
		width: 257px;
	}

	.wrapper {
		max-width: 620px;
	}
}

/* Size for large tablets and small laptops */
@media (min-width: 900px) {
	h1 {
		font-size: 50px;
		margin-top: 320px;
	}

	form {
		max-width: 670px;
	}
	
	input {
		width: 668px;
		height: 45px;
	}
	
	select {
		width: 668px;
		height: 45px;
	}
	
	textarea {
		width: 668px;
		height: 220px;
	}

	.double-inputs {
		width: 332px;
	}

	.wrapper {
		max-width: 760px;
	}
}

/* Size for medium laptops */
@media (min-width: 1220px) {
	h1 {
		font-size: 50px;
		margin-top: 460px;
	}

	form {
		max-width: 815px;
	}
	
	input {
		width: 814px;
		height: 45px;
	}
	
	select {
		width: 814px;
		height: 45px;
	}
	
	textarea {
		width: 814px;
		height: 240px;
	}

	.double-inputs {
		width: 405px;
	}

	.wrapper {
		max-width: 1000px;
	}
}

/* Size for larger laptops */
@media (min-width: 1800px) {
	h1 {
		font-size: 50px;
		margin-top: 780px;
	}

	form {
		max-width: 1000px;
	}
	
	input {
		width: 998px;
		height: 50px;
	}
	
	select {
		width: 998px;
		height: 50px;
	}
	
	textarea {
		width: 998px;
		height: 260px;
	}

	.double-inputs {
		width: 497px;
	}

	.wrapper {
		max-width: 1400px;
	}
}

/* Size for 4k displays */
@media (min-width: 2000px) {
	h1 {
		font-size: 50px;
		margin-top: 1000px;
	}
}